<h1 align="center">Article listing</h1>
<div class="text-center">
  <%= will_paginate %>
</div>
<%= render 'articles', obj: @articles %>
<div class="text-center">
  <%= will_paginate %>
</div>
