<h1 align="center">About</h1>
<div class="col-xs-offset-2 col-xs-8">
  <p class="text-center">Alpha blog is project for my ruby on rails course on udemy,
  this website allows user to create read update and delete articles</p>
</div>
