<div class="text-center jumbotron">
  <h1>Welcome to Alpha Blog</h1>
  <p>Check out our <%= link_to "awesome article", articles_path, class: "text-danger" %></p>
  <%= link_to "Sign up", signup_path, class: "btn btn-xlarge btn-danger" %>
</div>
