<h1 align="center">Category list</h1>

<div class="text-center">
  <%= will_paginate %>
</div>

<% @categories.each do |category| %>
<div class="row">
  <div class="well col-xs-offset-4 col-xs-4 text-center">
    <div class="article-title">
      <%= link_to category.name, category_path(category) %>
    </div>
    <p><small><%= pluralize(category.articles.count, "article") %></small></p>
  </div>
</div>
<% end %>

<div class="text-center">
  <%= will_paginate %>
</div>
