<div class="container">
  <footer>
    <small>Copyright&copy; <a href="https://github.com/xbrny">bani</a> alpha blog</small>
    <nav>
      <ul>
        <li><%= link_to "Home", root_path, class: "btn btn-xs"  %></li>
        <li><%= link_to "About", about_path, class: "btn btn-xs" %></li>
      </ul>
    </nav>
  </footer>
</div>
